################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/DbClientApp/.vs
/DbClientApp/DbClientApp/bin/Debug/net6.0-windows
/DbClientApp/DbClientApp/obj
/WinFormsApp013/.vs
/WinFormsApp013/WinFormsApp013/bin/Debug/net7.0-windows
/WinFormsApp013/WinFormsApp013/obj
/App912/.vs
/App912/App912/bin/Debug/net7.0-windows
/App912/App912/obj
/FormsForDB/.vs
/FormsForDB/FormsForDB/bin/Debug/net7.0-windows
/FormsForDB/FormsForDB/obj
/FormsForPG/.vs
/FormsForPG/FormsForPG/bin/Debug/net7.0-windows
/FormsForPG/FormsForPG/obj
/WinFormsApp8/.vs
/WinFormsApp8/WinFormsApp8/bin/Debug/net7.0-windows
/WinFormsApp8/WinFormsApp8/obj
